.my-body{
    align-items: center;
    align-content: center;
    background-color: rgb(219, 219, 30);
}


#heading{
    color: blue;

}
#roll-no{
    color:aquamarine;
}

#cgpa{
    color:green;
    text-decoration: underline;
}

.navbar-cust{
    background-color: brown;
}

.my-button{
    color: black;
    background-color: green;
}