.my-body{
    align-items: center;
    align-content: center;
    margin: auto;
    background-color: rgb(219, 219, 30);
    display: table;
}


#heading{
    color: blue;

}
#roll-no{
    color:aquamarine;
}

#cgpa{
    color:green;
    text-decoration: underline;
}